# 5 Reshaping and Transformation

In [2]:
import pandas as pd

## Reshaping DataFrame

### Pivoting

In [3]:
df = pd.read_csv('file6.csv')

In [4]:
print(df)
df_pivot = df.pivot(index='date', columns='city', values='min_temp_C')
print(df_pivot)

         date      city  min_temp_C  max_temp_C
0  2017-01-01    London           4          10
1  2017-01-01  New York           5           8
2  2017-01-01  Shanghai           5          15
3  2017-01-02    London          -1           5
4  2017-01-02  New York           3           4
5  2017-01-02  Shanghai           8          15
6  2017-01-03    London          -2           5
7  2017-01-03  New York           4           6
8  2017-01-03  Shanghai           7          14
city        London  New York  Shanghai
date
2017-01-01       4         5         5
2017-01-02      -1         3         8
2017-01-03      -2         4         7

In [5]:
# If values are not specified, all remaining columns will be used 
# and the result will have hierarchically indexed columns
print(df)
df_pivot = df.pivot(index='date', columns='city')
print(df_pivot)

         date      city  min_temp_C  max_temp_C
0  2017-01-01    London           4          10
1  2017-01-01  New York           5           8
2  2017-01-01  Shanghai           5          15
3  2017-01-02    London          -1           5
4  2017-01-02  New York           3           4
5  2017-01-02  Shanghai           8          15
6  2017-01-03    London          -2           5
7  2017-01-03  New York           4           6
8  2017-01-03  Shanghai           7          14
           min_temp_C                   max_temp_C
city           London New York Shanghai     London New York Shanghai
date
2017-01-01          4        5        5         10        8       15
2017-01-02         -1        3        8          5        4       15
2017-01-03         -2        4        7          5        6       14

### Stacking and Unstacking

In [6]:
df = df.set_index(['date', 'city'])

In [7]:
# Unstack pivots a level of the row index to the column axis
print(df)
df_unstacked = df.unstack()
print(df_unstacked)

                     min_temp_C  max_temp_C
date       city
2017-01-01 London             4          10
           New York           5           8
           Shanghai           5          15
2017-01-02 London            -1           5
           New York           3           4
           Shanghai           8          15
2017-01-03 London            -2           5
           New York           4           6
           Shanghai           7          14
           min_temp_C                   max_temp_C
city           London New York Shanghai     London New York Shanghai
date
2017-01-01          4        5        5         10        8       15
2017-01-02         -1        3        8          5        4       15
2017-01-03         -2        4        7          5        6       14

In [8]:
# Stack pivots a level of the column labels to the row axis
df = df_unstacked
print(df)
df_stacked = df.stack()
print(df_stacked)

           min_temp_C                   max_temp_C
city           London New York Shanghai     London New York Shanghai
date
2017-01-01          4        5        5         10        8       15
2017-01-02         -1        3        8          5        4       15
2017-01-03         -2        4        7          5        6       14
                     min_temp_C  max_temp_C
date       city
2017-01-01 London             4          10
           New York           5           8
           Shanghai           5          15
2017-01-02 London            -1           5
           New York           3           4
           Shanghai           8          15
2017-01-03 London            -2           5
           New York           4           6
           Shanghai           7          14