# 8 Data Visualization

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Data source: [CO2 emissions (kt) from World Bank](https://data.worldbank.org/indicator/EN.ATM.CO2E.KT)

In [10]:
df_co2_data = pd.read_csv('API_EN.ATM.CO2E.KT_DS2_en_csv_v2', skiprows=4)
df_co2_data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,Unnamed: 61
0,Aruba,ABW,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,26.230847,25.915833,24.670529,24.505835,13.155542,8.351294,8.408363,NaN,NaN,NaN
1,Afghanistan,AFG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.046060,0.053604,0.073765,0.074233,0.086292,0.101467,...,0.154101,0.241723,0.293837,0.412017,0.350371,0.315602,0.299445,NaN,NaN,NaN
2,Angola,AGO,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.097472,0.079038,0.201289,0.192535,0.201003,0.191528,...,1.181527,1.232495,1.243406,1.252789,1.330843,1.254617,1.291328,NaN,NaN,NaN
3,Albania,ALB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.258195,1.374186,1.439956,1.181681,1.111742,1.166099,...,1.484311,1.495600,1.578574,1.803715,1.692908,1.749211,1.978763,NaN,NaN,NaN
4,Andorra,AND,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,6.427887,6.121652,6.122595,5.867130,5.916597,5.900753,5.832170,NaN,NaN,NaN

Pre-defined styles provided by matplotlib

In [4]:
print(plt.style.available)

['seaborn-dark', 'seaborn-darkgrid', 'seaborn-ticks', 'fivethirtyeight', 'seaborn-whitegrid', 'classic', '_classic_test', 'seaborn-talk', 'seaborn-dark-palette', 'seaborn-bright', 'seaborn-pastel', 'grayscale', 'seaborn-notebook', 'ggplot', 'seaborn-colorblind', 'seaborn-muted', 'seaborn', 'seaborn-paper', 'bmh', 'seaborn-white', 'dark_background', 'seaborn-poster', 'seaborn-deep']

In [5]:
plt.style.use('fivethirtyeight')

## Pandas Plot Types

| kind      | Chart Type                   |
|-----------|------------------------------|
| 'line'    | Line plot                    |
| 'bar'     | Horizontal bar plot          |
| 'barh'    | Vertical bar plot            |
| 'hist'    | Histogram                    |
| 'box'     | Boxplot                      |
| 'density' | Kernel Density Estimate plot |
| 'area'    | Area plot                    |
| 'pie'     | Pie chart                    |
| 'scatter' | Scatter plot                 |
| 'hexbin'  | Hexbin plot                  |